/**
 * Electron boilerplate
 * 
 * @author Bavamont
 * @link https://github.com/bavamont
 */

*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.3); 
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5); 
}
html,
body {
  height: 100%;
}
body {
  -ms-overflow-style: none;
  overflow: hidden;
}
input,
select,
button,
textarea {
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  cursor: auto;
}